body{
    background-color: #0FC3FF;
    align-content: center;
}

.index{
    height: 600px;
}


.container-white{
    background-color: #fff;
    border-radius: 20px;
    width: 100%;
    height: 600px;
}

h1{
    text-align: center;
    color: #fff;
}

h1 p{
    text-align: center;
}

.main{
    background:#DCB2F7;

}
.color1{
    background color:#CEF7B2;
}

aside{
    background-color:#F7B9B2;
}

footer{
    background-color:#B2F0F7;
}
.icon{
    margin-bottom: 10px;
}

.btn{
    background-color: #FAF739;

}

.btn-TasksIndex{
    align-self: center;
    background-color: #fff;
    opacity: 0.95;
    width: 150px;
    height: 120px;
    font-color:#737373;
    border-radius: 20px;
    margin: 15px;
}

.btn-MyTasksExpired{
    align-self: center;
    background-color: #FA2828;
    width: 180px;
    height: 120px;
    font-color:#737373;
    border-radius: 20px;
    margin: 15px;
}

.btn-MyTasksPending{
    align-self: center;
    background-color: #28B4FA;
    width: 180px;
    height: 120px;
    font-color:#737373;
    border-radius: 20px;
    margin: 15px;
}

.btn-MyTasksClaimed{
    align-self: center;
    background-color: #FAB028;
    width: 180px;
    height: 120px;
    font-color:#737373;
    border-radius: 20px;
    margin: 15px;
}

.btn-MyTasksCancelled{
    align-self: center;
    background-color: #FA2828;
    width: 180px;
    height: 120px;
    font-color:#737373;
    border-radius: 20px;
    margin: 15px;
}

.btn-MyTasksCompleted{
    align-self: center;
    background-color: #16BA34;
    width: 180px;
    height: 120px;
    font-color:#737373;
    border-radius: 20px;
    margin: 15px;
}

/* .btn.outline: {
    background: none;
    padding: 12px 22px;
}


.btn-MyTasks.outline: {
    border:2px solid #FA2828;
    color: #FA2828;
}

.btn-MyTasks.outline:hover, .btn-MyTasks.outline:focus, .btn-MyTasks.outline:active, .btn-MyTasks.outline.active, .open > .dropdown-toggle.btn-MyTasks {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-MyTasks.outline:active, .btn-MyTasks.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
} */